# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/.vscode
/.idea
/.gradle
eas.json
package-lock.json
.env

# Android build artifacts and state (to allow tracking native source)
/android/.gradle
/android/build
/android/app/build
/android/local.properties
/android/.idea
/android/.kotlin
/android/*.iml
/android/app/*.iml
/android/app/.cxx
/android/app/.test
TODO.txt
